/**
 * by duccuongict
 */
 html, body {
 	background-color: white;
 	color: #2a3744;
 	-webkit-font-smoothing: antialiased;
/* 	height: 100%;*/
 }
html::selection, body::selection, div::selection,
p::selection, span::selection, a::selection,
h1::selection, h2::selection, h3::selection,
h4::selection, h5::selection, h6::selection,
li::selection, ul::selection, button::selection,
input::selection, footer::selection, nav::selection,
header::selection, article::selection, img::selection, 
b::selection, select::selection, strong::selection,
em::selection, i::selection, abbr::selection, label::selection {
	background-color: #abdffa;
}

/**
 * Remove 3D effect border of default iframe
 **/
iframe {
	border: 1px solid #ffffff;
}

.navbar-fixed-top, .navbar-inverse {
	background-color: #2A3744;
	color: #c0ccdb !important;
}

.navbar-inverse .navbar-nav .active {
	background-color: #54667a !important;
	font-weight: bold;
	color: white;
}

.navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #54667a !important;
}

.navbar-inverse .navbar-nav > .active > a:hover {
	background-color: #54667a !important;
}

.jumbotron {
	margin-bottom: 0px;
	height: 297px;
	background: transparent;
}

 #home-hero {
 	background: url('../images/header-background.jpg') no-repeat !important;
 	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 	position: relative;
 	width: 100%;
 	height: 315px;
 	top:0;
 	display: block;
 	margin: auto;
 	box-sizing: border-box;
 	overflow: hidden;
 }

.home-slogan {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 70%;
	text-align: center;
    font-family: 'Lato' sans-serif;
}

.home-slogan, .subtitle, .course-list-title {
	font-family: 'Lato', Arial, serif; 
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.home-slogan h1 {
	display: block;
	-webkit-margin-before: 0.67em;
	/*-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;*/
	text-align: center;
	color: #2a3744;
	font-size: 49px;
	font-weight: 900; 
	line-height: 46px;
	padding-top: 32px;
}

.subtitle {
	text-align: center;
	font-size: 18px !important ;
	font-weight: bold !important ;
	color: #a66230;
	display: block;
}

.separator {
	height: 54px;
}

.nav-container {
	background-color: #F5F7F8;
	padding-top: 15px;
	padding-right: 20px;
}

.nav-sidebarlist {
	margin: 0;
	padding: 0;
}

.nav-sidebarlist ul {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	/*-webkit-padding-start: 40px;*/
}

.nav-sidebarlist > li {
	list-style: none;
	padding-bottom: 10px;
	padding-left: 20px;
}

.nav-sidebarlist > li a {
	text-decoration: none !important;
	color: #44697e !important;
}

.nav-sidebarlist > li a:hover {
	color: #8c8c8c !important;
}

.emphasize {
	font-weight: bold;
}

.course-list {
	display: inline;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.course-list-header {
	line-height: 1em;
    font-family: 'Open Sans' sans-serif;
}

.course-list-header h2 {
	font-weight: bold;
	margin-top: 8px !important;
}

.course-list-header > p {
	margin: 0 !important;
}

.line-separator {
	width: 100%;
	background-color: #DAE1E5;
	height: 3px;
	display: inline-block;	
	margin-bottom: 27px;
}

#bottom-line-separator {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	height: 3px;
}

.sorting {
	padding-right: 0 !important;
	padding-left: 40px !important;
}


.row {
	padding-top: 15px !important;
}
.row > .col-md-4{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.course-hero {
	margin-left: 15px;
	margin-bottom: 15px;
}

@media screen and (min-width: 700px) {
	.course-hero {
		width: 31% !important;
	}
}

@media screen and (max-width: 900px) {
	.course-hero {
		width: 80% !important;
	}
}

.course-thumbnail-image {
	display: block;
	width: 100%;
}

.course-info {
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 42px;
	padding-left: 12px;
	border: solid 1px #e4e4e4;
	border-top: none;
}

.course-topic {
	color: #0d7963;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.course-title {
	height: 42px;
    margin: 0px;
	font: bold 18px/1.2em "adelle-sans", "Helvetica Neue", Arial, sans-serif;
}

.course-start-date {
	font-size: 14px;
	color: #7d7d7d;
	position: absolute;
	bottom: 8px;
	right: 16px;
	white-space: nowrap;
}

.course-num-of-unit {
	padding: 2px 6px;
	color: white;
	display: inline-block;
	position: absolute;
	bottom: 10px;
	left: 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background-color: #136fd2;
	text-decoration: none !important;
	font-weight: bold;
}

.course-link {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

div {
	display: block;
}

#pagination {
	width: 100%;
	padding-top: 0 !important;
}

#pagination .row {
	padding-top: 0 !important;
}

.nice-footer {
	background-color: #212A34;
	color: #e4e4e4;
	font-size: 12px;
}

.avatar img{
	margin-top: 32%;
	max-height: 30px;
	height: 30px;
	width: 30px;
}

/** Callout **/
.bs-callout {
	margin: 5px 0;
	padding: 5px;
	border-left:3px solid #eee;
	margin-bottom: 20px;
}
.bs-callout h4 {
	font-size: 16px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left: 5px;

}
.bs-callout p:last-child{margin-bottom:0; margin-left: 5px;}
.bs-callout code{background-color:#fff;border-radius:3px}
.bs-callout-danger{background-color:#fdf7f7;border-color:#d9534f}
.bs-callout-danger h4{color:#d9534f}
.bs-callout-warning{background-color:#fcf8f2;border-color:#f0ad4e}
.bs-callout-warning h4{color:#f0ad4e}.bs-callout-info{background-color:#f4f8fa;border-color:#5bc0de}
.bs-callout-info h4{color:#5bc0de}.color-swatches{margin:0 -5px;overflow:hidden}
.bs-callout-info span {padding-left: 5px;}

.display-avatar {
	max-height: 64px;
	height: 64px;
	background-color: #eee;
	width: auto;
}

.edit-profile-avatar img {
	min-width: 76px;
	min-height: 76px;
	width: 70px;
	height: 70px;
	border: 1px solid #eee;
}

.avatar-upload {
	display: inline;
	margin-left: 10px;
	padding: 5px;
}

.form-group input[type=text], .form-group textarea {
	font-weight: normal !important;
}

#choose-avatar-picture {
	margin-top: 10px;
	display: inline-block;
}

.profile-container img {
	width: 100%;
/*-	max-height: 255px;*/
	height: auto;
	border-radius: 10px;
}

.user-general-info h2 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-weight: bold;
}

.user-general-info h3 {
	margin-top:3px;
	margin-bottom: 22px;
	padding-bottom: 22px;
	color: #a2a2a2;
	border-bottom: 1px solid #f7f7f9 ;
}

.user-display-bio {
	padding-left: 8px;
	padding-bottom: 22px;
	border-bottom: 1px solid #f7f7f9 ;
}
#edit-user-profile {
	margin-top: 22px;
	display: inline-block;
}

.catagories {
	padding-left: 0 !important;
}

.dropdown .glyphicon, .navbar-right .glyphicon {
	padding-right: 10px;
	padding-top: 3px;
}

.course-list-detail {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.user-role input {
	margin-left: 10px;
	margin-right: 10px;
}

.entry-wrap {
	float: left;
	/*margin-top: 15px;*/
	/*margin-bottom: 15px;*/
	padding-bottom: 30px;
	margin-bottom: 15px;
	width: 100%;
	border-bottom: 1px solid #eee;
}

.entry {
	width: 100%;
}

.entry-meta {
	display: block;
}

.school-name {
	margin-bottom: 10px;
	color: #212A34;
	opacity: 0.8;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.course-title {
	padding-top: 3px;
}

.course-title a {
	color: #212A34;
	opacity: 0.8;
	text-decoration: none;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

.entry-thumbnail {
	float: left;
	margin-right: 20px;
}

.entry-thumbnail a {
	display: block;
}

.entry-thumbnail img {
	display: block;
	margin: 0 auto;
	max-width: 180px;
}

.go-to-course{
	margin-top: 20px;
}

.go-to-course a {
	text-decoration: none;
}

.info {
    padding-top: 0px !important;
    margin-left: 0;
    margin-right: 0;
}

#lecture-list-group {
	padding-right: 5px;

}

#lecture-list-group a {
	padding-top: 7px;
	padding-bottom: 7px;
}
#lecture-edit-detail {
	padding-left: 5px;
}
#detail-panel-body {
	padding-top: 0;
}

#detail-panel-statistic {
	padding-top: 0 !important;
}

#detail-panel-statistic .col-md-6 {
	padding-top: 15px;
}

#detail-panel-statistic .col-md-6 span {
	text-align: middle;
	vertical-align: middle;
}

.lecture-video-container {
	padding-left: 15px;
	padding-right: 15px;
}

.lecture-video-container iframe {
	width: 100%;
	min-height: 320px;
}