/*******************************************************************
 * 
 * File: prettify.css;
 * Description: This is an enhancement to standard bootstrap;
 * By: DuccuongICT
 *
 *******************************************************************/
/
 html, body {
 	background-color: white;
 	color: #2a3744;
 	-webkit-font-smoothing: antialiased;
 }

.navbar-fixed-top, .navbar-inverse {
	background-color: #2A3744;
	color: #c0ccdb !important;
}

.navbar-inverse .navbar-nav > .active {
	background-color: #54667a !important;
	font-weight: bold;
	color: white;
}

.navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #54667a !important;
}

.navbar-inverse .navbar-nav > .active > a:hover {
	background-color: #54667a !important;
}

.jumbotron {
	margin-bottom: 0px;
	height: 297px;
	background: transparent;
}

 #home-hero {
 	background: url('../images/header-background.jpg') no-repeat !important;
 	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 	position: relative;
 	width: 100%;
 	height: 315px;
 	top:0;
 	display: block;
 	margin: auto;
 	box-sizing: border-box;
 	overflow: hidden;
 }

.home-slogan {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 70%;
	text-align: center;
}

.home-slogan, .subtitle, .course-list-title {
	font-family: 'Lato', Arial, serif; 
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.home-slogan h1 {
	display: block;
	-webkit-margin-before: 0.67em;
	/*-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;*/
	text-align: center;
	color: #2a3744;
	font-size: 49px;
	font-weight: 900; 
	line-height: 46px;
	padding-top: 32px;
}

.subtitle {
	text-align: center;
	font-size: 18px !important ;
	font-weight: bold !important ;
	color: #a66230;
	display: block;
}

.sorting {
	position: absolute;
	right: 0;
	top: 3px;
}

.separator {
	height: 54px;
}

.nav-container {
	background-color: #F5F7F8;
	padding-top: 15px;
	padding-right: 20px;
}

.nav-sidebarlist {
	margin: 0;
	padding: 0;
}

.nav-sidebarlist ul {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	/*-webkit-padding-start: 40px;*/
}

.nav-sidebarlist > li {
	list-style: none;
	padding-bottom: 10px;
	padding-left: 20px;
}

.nav-sidebarlist > li a {
	text-decoration: none !important;
	color: #44697e !important;
}

.nav-sidebarlist > li a:hover {
	color: #8c8c8c !important;
}

.emphasize {
	font-weight: bold;
}

.course-list {
	display: inline;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.course-list-header {
	line-height: 1em;
}

.course-list-header h2 {
	font-weight: bold;
	margin-top: 8px !important;
}

.course-list-header > p {
	margin: 0 !important;
}

.line-separator {
	width: 100%;
	background-color: #DAE1E5;
	height: 3px;
	display: inline-block;	
	margin-bottom: 27px;
}

#bottom-line-separator {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	height: 3px;
}

.sorting {
	padding-right: 0 !important;
	padding-left: 40px !important;
}


.row {
	padding-top: 15px !important;
}
.row > .col-md-4{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.course-hero {
	margin-left: 15px;
	margin-bottom: 15px;
}

@media screen and (min-width: 700px) {
	.course-hero {
		width: 31% !important;
	}
}

@media screen and (max-width: 900px) {
	.course-hero {
		width: 80% !important;
	}
}

.course-thumbnail-image {
	display: block;
	width: 100%;
}

.course-info {
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 42px;
	padding-left: 12px;
	border: solid 1px #e4e4e4;
	border-top: none;
}

.course-topic {
	color: #0d7963;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.course-title {
	height: 42px;
	margin: 0px;
	font: bold 18px/1.2em "adelle-sans", "Helvetica Neue", Arial, sans-serif;
}

.course-start-date {
	font-size: 14px;
	color: #7d7d7d;
	position: absolute;
	bottom: 8px;
	right: 16px;
	white-space: nowrap;
}

.course-num-of-unit {
	padding: 2px 6px;
	color: white;
	display: inline-block;
	position: absolute;
	bottom: 10px;
	left: 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background-color: #136fd2;
	text-decoration: none !important;
	font-weight: bold;
}

.course-link {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

div {
	display: block;
}

#pagination {
	width: 100%;
	padding-top: 0 !important;
}

#pagination .row {
	padding-top: 0 !important;
}


.nice-footer {
	background-color: #EEF1F3 !important;
	color: #898E9D !important;
	border-top: 1px solid #ccc;
}

.footer-brand {
	margin-top: 18px;
	margin-bottom: 8px;
	vertical-align: center;
}


.footer-brand span {
	font-weight: bold;
	padding-left: 4px;
}
.footer-menu a {
	color: #898E9D !important;
}

.site-footer-brand {
	margin-bottom: 8px;
}

footer > .copyright {
	font-size: 12px;
	margin-bottom: 32px;
}
